<h1> Oops! That's not right. </h1>
<br>
<h4> Invalid Username or Password. Please try again. </h4>
<h6> Note: Passwords are case sensitive.</h6><br><br>

<a href="/users/login"> Log In </a> 
OR:
<a href="/users/signup"> Sign Up</a> to continue.