<h1> Log In to the Database</h1>
<form method="post" action="/users/login">
<label for="username"> Username: </label>
<input type="text" name="user[username]" value=""><br>
<label for="password"> Password: </label>
<input type="password" name="user[password]" value=""><br><br>
<input type="submit" value="Log In!">
</form>