<h1> Oops! Something went wrong.</h1>

<p> Please check that all required fields are filled in.</p>
<p> If all fields have been filled in:</p>
<li> 1. The username entered has already been taken. </li>
<li> 2. The email address entered is already associated with an account.</li><br>
<p> Please try again.</p>

<a href="/users/account">Go back to your Profile</a>
