<h1> Mature </h1>
<% @mature.each do |game| %>
    <h4><li><a href="/games/<%= game.id %>"> <%= game.title %> </li></a></h4>
    <h6><a href="/systems/<%= game.system_id%>"><%= game.system.name %></a></h6>
    <% end %> 
    <br>
    <a href="/games"> Go back </a>